html,
body,
#app {
  @apply antialiased min-h-screen min-w-screen mx-auto px-3 py-3
}

html.dark {
  @apply antialiased min-h-screen min-w-screen mx-auto px-3 py-3 bg-black text-gray-100
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-indigo-600 text-white cursor-pointer
    hover:bg-indigo-800
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-indigo-600;
  font-size: 0.9em;
}
